{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="container">
  <div class="content-wrap">
    <div class="content">
      <header class="article-header">
        <h1 class="article-title"><a href="article.html">{{ article.title }}</a></h1>
        <div class="article-meta">
            <span class="item article-meta-time"><time class="time" data-toggle="tooltip" data-placement="bottom" title="时间：{{ article.create_time }}"><i class="glyphicon glyphicon-time"></i> {{ article.create_time }}</time></span>
            <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="来源：{{ article.category }}"><i class="glyphicon glyphicon-globe"></i> {{ article.category }}</span>
            <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="栏目：{{ article.category }}"><i class="glyphicon glyphicon-list"></i> <a href="{{ article.category }}" title="">{{ article.category }}</a></span>
            <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="查看：{{ article.views }}"><i class="glyphicon glyphicon-eye-open"></i> 共{{ article.views }}人围观</span>
            <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="评论：0"><i class="glyphicon glyphicon-comment"></i> {{ comments_nums }}个不明物体</span>
        </div>
      </header>
      <article class="article-content">
        <p><img data-original="{{ MEDIA_URL }}{{ article.image }}" src="{{ MEDIA_URL }}{{ article.image }}" alt="文章配图" /></p>
        <p> {{ article.content|safe }}</p>
        <p class="article-copyright hidden-xs">未经允许不得转载：<a href="{% url 'blog:index' %}">eksplodo博客</a> » <a href="{% url 'blog:article' article.id %}">{{ article.title }}</a></p>
      </article>
      <div class="article-tags">标签：<a href="" rel="tag">{% for tag in article.tag.all  %}{{ tag }}{% endfor %} </a></div>
      <div class="relates">
        <div class="title">
          <h3>相关推荐</h3>
        </div>
        <ul>
            {% for art in related_list %}
          <li><a href="{% url 'blog:article' art.id %}">{{ art.title }}</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="title" id="comment">
        <h3>评论 <small>抢沙发</small></h3>
      </div>

      <div id="respond">
        <div class="comment-signarea">
                {% if request.user.is_authenticated %}
                    <h3 class="text-muted"></h3>
                    {% else %}
                    <h3 class="text-muted">评论前必须登录！</h3>
                    <p> <a data-toggle="modal" data-target="#loginModal" class="btn btn-primary login" rel="nofollow">立即登录</a> &nbsp; <a data-toggle="modal" data-target="#registerModal"  class="btn btn-default register" rel="nofollow">注册</a> </p>
                {% endif %}
        </div>
      </div>
      <div id="respond">
        <form action="{% url 'comments:comment' article.id %}" method="post" id="comment-form">
          <div class="comment">
            <div class="comment-title"><img class="avatar" src="{% static 'images/icon/icon.png' %}" alt="" /></div>
            <div class="comment-box">
              <textarea placeholder="您的评论可以一针见血" name="comment" id="comment-textarea" cols="100%" rows="3" tabindex="1" ></textarea>
              <div class="comment-ctrl"> <span class="emotion"><img src="{% static 'images/face/5.png' %}" width="20" height="20" alt="" />表情</span>
                <div class="comment-prompt"> <i class="fa fa-spin fa-circle-o-notch"></i> <span class="comment-prompt-text"></span> </div>
                <input type="hidden" value="{% url 'blog:article' article.id %}" name="next" class="articleid" />
                  {% if request.user.is_authenticated %}
                      <button type="submit" name="comment-submit" id="comment-submit" tabindex="5" articleid="1">评论</button>
                  {% endif %}
              </div>
            </div>
          </div>
            {% csrf_token %}
        </form>
      </div>
      <div id="postcomments">
        <ol class="commentlist">
          <li class="comment-content"><span class="comment-f">#1</span>
            <div class="comment-avatar"><img class="avatar" src="{% static 'images/icon/icon.png' %}" alt="" /></div>
            <div class="comment-main">
                {% for comment in comments.object_list %}
              <p>来自<span class="address">地球</span>的用户<span class="time">({{ comment.created_time }})</span><br />
              {{ comment.comment }}
              </p>
                {% endfor %}
            </div>
          </li>
        </ol>
      <!-- 分页功能 -->
        <div class="pagination">
            {% if comments.has_previous %}
            <a href="?{{ comments.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; 上一页</a>
            {% else %}
{#            <span class="disabled prev">上一页</span>#}
            {% endif %}
        {% for page in comments.pages %}
        {% if page %}
            {% ifequal page comments.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?{{ comments.next_page_number.querystring }}" class="next">下一页 &rsaquo;&rsaquo;</a>
        {% else %}
{#        <span class="disabled next">下一页</span>#}
        {% endif %}
        </div>
{#        <div class="quotes">#}
{#            <span class="disabled">首页</span>#}
{#            <span class="disabled">上一页</span>#}
{#            <a class="current">1</a><a href="">2</a>#}
{#            <span class="disabled">下一页</span>#}
{#            <span class="disabled">尾页</span>#}
{#        </div>#}
      </div>
    </div>
  </div>
  <aside class="sidebar">
    <div class="fixed">
      <div class="widget widget-tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab">网站公告</a></li>
          <li role="presentation"><a href="#centre" aria-controls="centre" role="tab" data-toggle="tab">会员中心</a></li>
          <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">联系站长</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane notice active" id="notice">
            <ul>
              <li>
                <time datetime="2016-01-04">01-04</time>
                <a href="" target="_blank">欢迎访问博客</a></li>
              <li>
                <time datetime="2016-01-04">01-04</time>
                <a target="_blank" href="">在这里可以看到前端技术，后端程序，网站内容管理系统等文章，还有我的程序人生！</a></li>
              <li>
                <time datetime="2016-01-04">01-04</time>
                <a target="_blank" href="">在这个小工具中最多可以调用五条</a></li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane centre" id="centre">
              {% if request.user.is_authenticated %}
              <h4>其实什么都没有QvQ</h4>
              {% else %}
            <h4>需要登录才能进入会员中心</h4>
{#                  <a data-toggle="modal" data-target="#loginModal" class="btn btn-primary" rel="nofollow">#}
            <p> <a data-toggle="modal" data-target="#loginModal" class="btn btn-primary" rel="nofollow">立即登录</a> <a href="javascript:;" class="btn btn-default">现在注册</a> </p>
              {% endif %}
          </div>
          <div role="tabpanel" class="tab-pane contact" id="contact">
            <h2>Email:<br />
              <a href="mailto:gu81037@gmail.com" data-toggle="tooltip" data-placement="bottom" title="gu81037@gmail.com">gu81037@gmail.com</a></h2>
          </div>
        </div>
      </div>
      <div class="widget widget_search">
        <form class="navbar-form" action="/Search" method="post">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off">
            <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span> </div>
        </form>
      </div>
    </div>
    <div class="widget widget_sentence">
      <h3>每日一句</h3>
      <div class="widget-sentence-content">
        <h4>2016年01月05日星期二</h4>
        <p>Do not let what you cannot do interfere with what you can do.<br />
          别让你不能做的事妨碍到你能做的事。（John Wooden）</p>
      </div>
    </div>
    <div class="widget widget_hot">
      <h3>热门文章</h3>
      <ul>
          {% for hot_article in hot_articles %}
        <li>
            <a href="{% url 'blog:article' hot_article.id %}">
                <span class="thumbnail"><img class="thumb" data-original="{{ MEDIA_URL }}{{ hot_article.image }}" src="{{ MEDIA_URL }}{{ hot_article.image }}" alt=""></span>
                <span class="text">{{ hot_article.title }}</span>
                <span class="muted"><i class="glyphicon glyphicon-time"></i> {{ hot_article.create_time }} </span>
                <span class="muted"><i class="glyphicon glyphicon-eye-open"></i> {{ hot_article.views }}</span>
            </a>
        </li>
          {% endfor %}
      </ul>
    </div>
  </aside>
</section>
{% endblock content %}

{% block custom_js %}
<script src="{% static 'js/jquery.qqFace.js' %}"></script>
<script type="text/javascript">
$(function(){
	$('.emotion').qqFace({
		id : 'facebox', 
		assign:'comment-textarea', 
		path:'{% static "images/face" %}'	//表情存放的路径
	});
 });   
</script>
{% endblock custom_js %}
